<div style="padding:5px; height:14px; color:#FFFFFF; background-color:#000000; width:569px;">
            Betaling
        </div>
<div style="background-color:#ccc; width:559px; padding:10px">
<div style="background-color:#ffffff"><br />
De betaling heeft succesvol plaatsgevonden. U ontvangt in uw email een downloadlink 
waarmee u uw gekochte producten kunt ophalen. In Aankopen kunt u terugzien welke aankopen u gedaan heeft. 
<br /> <br />
</div>
</div>